input.edit_button {
    padding: 0.1em 0.5em 0.1em 0.5em;
    border: 1px solid #888888;
}

cite {
    font-variant: small-caps;
    font-style: normal;
}

blockquote {
    border-left: 2px dotted #660033;
    border-bottom: 2px dotted #660033;
    border-top: 2px dotted #660033;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 1ex;
    margin-top: .5ex;
    margin-bottom: .5ex;
    margin-right: 0px;
    padding-right: 0px;
}

blockquote > .date {
    float: right;
    font-size: smaller;
}

blockquote > cite {
    display: block;
    background-color: #100028;
    padding: 1px;
}

blockquote > div {
    padding-left: 1em;
}

.code pre {
    line-height: 1.3em;
    border: 1px solid #aaaaaa;
    font-size: 95%;
    font-family: "Courier New, Courier", Monospace;
    background-color: #ffffff;
    color: #3333aa;
}
span.minicode {
    border: 1px solid #cccccc;
    font-size: 95%;
    font-family: "Courier New, Courier", Monospace;
    background-color: #ffffff;
    color: #3333aa;
}

div.codebox {
    max-width: 50em;
    min-width: 30em;
    overflow:auto;
}

div.codelines pre {
    color: #7777aa;
    border-right: none;
}

td.codelines {
    vertical-align: top;
}

span.magnifier {
    background-image:   url(search.png);
    background-repeat:  no-repeat;
    padding: 9px;
    background-position: 5px 5px; 
}
