<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>[%include name="head.html" %]</head>
<body>
<div style="float:left; width: 100%; border-radius: 5px;" class="navi_links_div" id="top_navi">
[%= .active escape=0 %]
<form action="[%= .self %]/[%= .ma %]" method="POST">
<input type="hidden" name="battie_view" value="full">
<input type="image" src="[%= .data.userprefs.theme %]/icons/layout-header-2.png" name="battie" value="Full View" class="image"
title="Switch to full view with navigation">
</form>
</div>
<div style="float:left; width: 100%;">
[%include_var .templates.content %]
</div>
<div style="clear: left; width: 100%;">

[%each .elements %]<div class="navi_links_div" ><ul>
[%loop __value__ %][%= content escape=0 %][%/loop header %]
</ul></div>[%/each .elements %]
</div>

</body></html>
